* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.l_nav {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  box-shadow: 2px 2px 10px rgba(201, 201, 201, 0.5);
}

.l_menu {
  display: flex;
  gap: 30px;
  align-items: center;
  list-style: none;
}
.l_nav a {
  text-decoration: none;
  color: black;
  display: block;
  padding: 10px;
  letter-spacing: 2px;
}
.l_nav a:hover {
  background-color: lightgray;
}

