* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* About Section */
.about {
  padding: 80px 0;
  background: #ffffff;
}

.about-container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
  display: flex;
  gap: 60px;
  align-items: flex-start;
}

/* Image */
.about-image {
  flex: 1;
}

.about-image img {
  width: 100%;
  display: block;
}

/* Text */
.about-text {
  flex: 1;
}

.about-text h2 {
  font-size: 36px;
  letter-spacing: 4px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: normal;
}

.tradition {
  text-align: center;
  letter-spacing: 4px;
  color: #666;
  margin-bottom: 25px;
}

.main-text {
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 20px;
}

.light-text {
  color: #777;
  line-height: 1.8;
}

.highlight {
  background: #e0e0e0;
  padding: 2px 6px;
}


/* Menu Section */
.menu {
  padding: 30px 0;
  background: #ffffff;
}

.menu-container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
  display: flex;
  gap: 60px;
  align-items: flex-start;
}

/* Text */
.menu-text {
  flex: 1;
}

.menu-text h2 {
  font-size: 36px;
  letter-spacing: 4px;
  text-align: center;
  margin-bottom: 40px;
  font-weight: normal;
}

.menu-item {
  margin-bottom: 35px;
}

.menu-item h4 {
  font-size: 20px;
  letter-spacing: 4px;
  margin-bottom: 8px;
  font-weight: normal;
}

.menu-item p {
  color: #777;
  font-size: 15px;
}

/* Image */
.menu-image {
  flex: 1;
}

.menu-image img {
  width: 100%;
  display: block;
}




.l_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  box-shadow: 2px 2px 10px rgba(201, 201, 201, 0.5);
  position: fixed;
  width: 100%;
  background-color: white;
  top: 0;
}

.l_menu {
  display: flex;
  gap: 30px;
  align-items: center;
  list-style: none;
}
.l_nav a {
  text-decoration: none;
  color: black;
  display: block;
  padding: 10px;
  letter-spacing: 2px;
}
.l_nav a:hover {
  background-color: lightgray;
}

.l_banner {
  min-height: 90vh;
  display: flex;
  align-items: flex-end;
  padding: 20px;
  background-image: url(./images/hamburger.jpg);
  background-size: cover;
  width: 85%;
  margin: 0 auto;
}
.l_banner h3 {
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 3px;
  color: #67686C;
}
.l_contact {
  width: 51%;
  margin: 20px auto;
}

.l_contact1 h2 {
  margin-bottom: 40px;
  font-size: 35px;
  font-weight: 500;
  letter-spacing: 3px;
}
.l_contact1 p,
.l_contact2 p {
  font-size: 14px;
  margin-bottom: 20px;
  line-height: 1.6;
}

.l_contact2 h3 {
  color: #607d8b;
  margin-bottom: 20px;
}

.l_contact_form input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #dedede;
  padding: 20px 5px;
  margin-bottom: 10px;
}

.l_contact_form button {
  padding: 15px 20px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}
.l_contact_form button:hover {
  background-color: lightgray;
}

.footer {
  padding: 50px;
  text-align: center;
  background-color: #f1f1f1;
  margin-top: 50px;
}

.footer a {
  color: black;
}
