* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.l_nav {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  box-shadow: 2px 2px 10px rgba(201, 201, 201, 0.5);
}

.l_menu {
  display: flex;
  gap: 30px;
  align-items: center;
  list-style: none;
}
.l_nav a {
  text-decoration: none;
  color: black;
  display: block;
  padding: 10px;
  letter-spacing: 2px;
}
.l_nav a:hover {
  background-color: lightgray;
}

.l_contact {
  width: 51%;
  margin: 20px auto;
}

.l_contact1 h2 {
  margin-bottom: 40px;
  font-size: 35px;
  font-weight: 500;
  letter-spacing: 3px;
}
.l_contact1 p,
.l_contact2 p {
  font-size: 14px;
  margin-bottom: 20px;
  line-height: 1.6;
}

.l_contact2 h3 {
  color: #607d8b;
  margin-bottom: 20px;
}

.l_contact_form input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #dedede;
  padding: 20px 5px;
  margin-bottom: 10px;
}

.l_contact_form button {
  padding: 15px 20px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}
.l_contact_form button:hover {
  background-color: lightgray;
}

.footer {
  padding: 50px;
  text-align: center;
  background-color: #f1f1f1;
  margin-top: 50px;
}

.footer a {
  color: black;
}
