*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* About Section */
.about {
  padding: 80px 0;
  background: #ffffff;
}

.about-container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
  display: flex;
  gap: 60px;
  align-items: flex-start;
}

/* Image */
.about-image {
  flex: 1;
}

.about-image img {
  width: 100%;
  display: block;
}

/* Text */
.about-text {
  flex: 1;
}

.about-text h2 {
  font-size: 36px;
  letter-spacing: 4px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: normal;
}

.tradition {
  text-align: center;
  letter-spacing: 4px;
  color: #666;
  margin-bottom: 25px;
}

.main-text {
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 20px;
}

.light-text {
  color: #777;
  line-height: 1.8;
}

.highlight {
  background: #e0e0e0;
  padding: 2px 6px;
}


/* Menu Section */
.menu {
  padding: 30px 0;
  background: #ffffff;
}

.menu-container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
  display: flex;
  gap: 60px;
  align-items: flex-start;
}

/* Text */
.menu-text {
  flex: 1;
}

.menu-text h2 {
  font-size: 36px;
  letter-spacing: 4px;
  text-align: center;
  margin-bottom: 40px;
  font-weight: normal;
}

.menu-item {
  margin-bottom: 35px;
}

.menu-item h4 {
  font-size: 20px;
  letter-spacing: 4px;
  margin-bottom: 8px;
  font-weight: normal;
}

.menu-item p {
  color: #777;
  font-size: 15px;
}

/* Image */
.menu-image {
  flex: 1;
}

.menu-image img {
  width: 100%;
  display: block;
}




